<%- include("header") -%>

    <h2>This website is very good for list of things you wanna do</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore illo, ipsum quae itaque vel eveniet optio
        fugiat
        error. Doloremque tempora omnis dolores eveniet maxime nesciunt provident? Doloremque rerum sapiente saepe magni
        temporibus, commodi sequi repellat unde amet porro! Minima voluptatibus est exercitationem nulla assumenda nemo
        sequi mollitia quibusdam commodi perferendis.</p>

    <%- include("footer") -%>